[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.*"
faker = "==1.0.*"
cvxpy = "==1.0.*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.6"
