[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.14"
faker = "==1.0.*"
cvxopt = "*"
cvxpy = "*"
gunicorn = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
production = "gunicorn --config /srv/fadder-group-system/systemd/gunicorn.conf fadder.wsgi:application"
