[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.3"
faker = "==1.0.*"
cvxopt = "==1.2.*"
cvxpy = "==1.0.*"
pymysql = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
production = "gunicorn --config /etc/websites/fadder/gunicorn.conf fadder.wsgi:application"
