[Unit]
Description=fadder daemon
After=network.target

[Service]
User=fadder
Group=webapps
WorkingDirectory=/srv/fadder-group-system
ExecStart=/var/websites/fadder/.pyenv/shims/pipenv run production
StandardError=journal

[Install]
WantedBy=multi-user.target
