{% extends "base.html" %}

{% block title %}Faddergrupper{% endblock %}

{% block more_head %} <script src="https://code.jquery.com/jquery-1.10.2.js"></script>{% endblock %}


{% block content %}
    <header><h1>Velg din faddergruppe</h1></header>
    <form action="{% url 'post' %}" method="post">
    {% csrf_token %}
    <h3>Ditt navn:</h3>
        <input type="text">

    <h3>Ditt kjønn:</h3>
    {% for gender in genders %}
        <input type="radio" name="gender" id="{{ gender.0 }}" value="{{ gender.0 }}">
        <label for="{{ gender.0 }}">{{ gender.1 }}</label><br>
    {% endfor %}

    <h3>Førstevalg:</h3>
    <select name="pri_1">
    <option value="-1"></option>
    {% for group in groups %}
        <option value="{{ group.id }}" name="{{ group.name }}">{{ group.name }}</option>
    {% endfor %}
    </select>

    <h3>Andrevalg:</h3>
    <select name="pri_2">
    <option value="-1"></option>
    {% for group in groups %}
        <option value="{{ group.id }}" name="{{ group.name }}">{{ group.name }}</option>
    {% endfor %}
    </select>

    <h3>Tredjevalg:</h3>
    <select name="pri_3">
    <option value="-1"></option>
    {% for group in groups %}
        <option value="{{ group.id }}" name="{{ group.name }}">{{ group.name }}</option>
    {% endfor %}
    </select>
    </form>
    <div></div>
    <script>
    $( "select[name='pri_1']" )
      .change(function() {
        let name_1 = $( "select[name='pri_1'] option:selected" ).text()
        $( "div" ).text( name );
        $( "select[name='pri_2'] option" ).each(function() {
            $( this ).show();
        });
        $( "select[name='pri_2'] option[name=" + name_1 + "]").hide();
        $( "select[name='pri_3'] option" ).each(function() {
            $( this ).show();
        });
        $( "select[name='pri_3'] option[name=" + name_1 + "]").hide();
        let name_2 = $( "select[name='pri_2'] option:selected" ).text()
        $( "select[name='pri_3'] option[name=" + name_2 + "]").hide();
      })
      .trigger( "change" );
    $( "select[name='pri_2']" )
      .change(function() {
        let name_2 = $( "select[name='pri_2'] option:selected" ).text()
        let name_1 = $( "select[name='pri_1'] option:selected" ).text()
        $( "select[name='pri_3'] option" ).each(function() {
            $( this ).show();
        });
        $( "select[name='pri_3'] option[name=" + name_2 + "]").hide();
        $( "select[name='pri_3'] option[name=" + name_1 + "]").hide();
      })
      .trigger( "change" );
    </script>
{% endblock content %}